*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-size: 30px;
    color: white;
}
h3
{
    color: #c2c0c0;
}
h4
{
    color: white
}

.container
{
    width: 100vw;
    background-color: black;
}

.cont
{
    display: flex;
    position: relative;
    left: 200px;
    top: 210px;
}

.cont1 img
{
    margin: 23px;
    box-shadow: rgba(255, 255, 255, 0.50) 0px 54px 55px, rgba(254, 254, 254, 0.50) 0px -12px 30px, rgba(255, 255, 255, 0.50) 0px 4px 6px, rgba(255, 255, 255, 0.50) 0px 12px 13px, rgba(255, 255, 255, 0.50) 0px -3px 5px;
    border-radius: 25px;
}

.cont2
{
    height: 340px;
}

.btn
{
    font-size: 18px;
    outline: none;
    margin-top: 16px;
    padding: 11px 25px 11px;
    border-radius: 10px;
    cursor: pointer;
}

.btn1
{
    margin-top: 16px;
    padding: 12px 25px 12px;
    font-size: 18px;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}